
@{
    ViewBag.Title = "Points - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">BRING IDEAS TO LIFE</h1>
                                <h2 class="animation animated-item-2">Bulding a culture of innovation, leadership and engagement.</h2>
                                @*<a class="btn-slide animation animated-item-3" href="#">Read More</a>*@
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/images/slider/img1.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">FIND SOLUTIONS</h1>
                                <h2 class="animation animated-item-2">Our services, products and industry expertise are the foundation to realizing your business goals.</h2>
                                @*<a class="btn-slide animation animated-item-3" href="#">Read More</a>*@
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/images/slider/img2.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/images/slider/bg3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">AMBITIOUS MISSIONS NEED DISRUPTIVE THINKING</h1>
                                <h2 class="animation animated-item-2">We are passionate technologists. We provide software delivery, pioneering tools and consulting for organizations with ambitious missions.</h2>
                                @*<a class="btn-slide animation animated-item-3" href="#">Read More</a>*@
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="~/images/slider/img3.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Features</h2>
            <p class="lead">We are into wide range of services such as software development to computer sales and services, serving all over Qatar.</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-desktop"></i>
                        <h2>Software Development</h2>
                        <h3>Developing enterprise applications</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-apple"></i>
                        <h2>Mobile Apps</h2>
                        <h3>We are following <b>"Mobile first, Cloud first"</b> strategy</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-code"></i>
                        <h2>Web Apps</h2>
                        <h3>Creating SEO friendly web applications</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-sitemap"></i>
                        <h2>Networking</h2>
                        <h3>Implementing end-to-end network security</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cogs"></i>
                        <h2>Services</h2>
                        <h3>We are good at software and hardware services</h3>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-users"></i>
                        <h2>Customer Satisfaction</h2>
                        <h3>Satisfying customer is at our core</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Recent Works</h2>
            <p class="lead">Take a moment to view some of our latest work. We do everything from web design, web development, consulting, maintenance, hardware services, marketing, and everything in between!</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/cctv.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">CCTV Services</a> </h3>
                            <p>Currently we have installed CCTV camares for one of our client.</p>
                            <a class="preview" href="~/images/portfolio/full/cctv.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item1.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Mobile and Web apps</a></h3>
                            <p>We are creating several Web, Mobile and Enterprise level application.</p>
                            <a class="preview" href="~/images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</section><!--/#recent-works-->

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Partners</h2>
            <p class="lead">With our partner's powerful mix of marketing and business features, comprehensive development support and industry-leading flexibility to work every day with phenomenal results.</p>
        </div>
        <div class="partners">
            <ul>
                <li> <a href="http://www.epson.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="~/images/partners/Epson-Logo.png"></a></li>
                @*<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="~/images/partners/partner2.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="~/images/partners/partner3.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="~/images/partners/partner4.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="~/images/partners/partner5.png"></a></li>*@
            </ul>
        </div>
    </div><!--/.container-->
</section><!--/#partner-->