
@{
    ViewBag.Title = "Points - Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Service</h2>
            <p class="lead">We helps you improve your company’s performance. We deliver real business results through a people-centered approach to technology, infrastructure, business equipments and providing the right expertise according to your needs.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/software.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Software Development</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services5.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Mobile Apps</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/web.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Web & Cloud Apps</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/printer.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Printer sales & service</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/laptop.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Laptop sales & services</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/desktop.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Desktop sales & services</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/network.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Network Security</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/hardware.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">IT Hardware Services</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/cctv.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">CCTV Services</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="feature" class="transparent-bg">
    <div class="container">

        <div class="get-started center wow fadeInDown">
            <h2>Ready to get started</h2>
            <p class="lead">No matter what solution you need to help crack your marketing, digital or customer challenge, we have it covered. Getting in touch is easy – and we’d love to hear from you!</p>
            <div class="request">
                @{string concat = "#contact-page";}
                <h4><a href="@(Url.Action("contact","home")+concat)">Request a Quote</a></h4>
            </div>
        </div><!--/.get-started-->

        <div class="clients-area center wow fadeInDown">
            <h2>What our client says</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client1.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client2.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <img src="~/images/client3.png" class="img-circle" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                    <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                </div>
            </div>
        </div>

    </div><!--/.container-->
</section>
