
@{
    ViewBag.Title = "Points - Trading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <p class="lead" style="text-align:justify">
                Please visit our trading section <a target="_blank" href="http://trading.pointsqatar.com"><b>here</b></a>.
            </p>
        </div>
    </div>
</section>

